@font-face {
  font-family: 'vi';
  src:
    url('fonts/vi.ttf?3k8asv') format('truetype'),
    url('fonts/vi.woff?3k8asv') format('woff'),
    url('fonts/vi.svg?3k8asv#vi') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-amazon:before {
  content: "\e90b";
}
.vi-android:before {
  content: "\e90a";
}
.vi-dribbble:before {
  content: "\e900";
}
.vi-dropbox:before {
  content: "\e901";
}
.vi-ebay:before {
  content: "\e90f";
}
.vi-facebook:before {
  content: "\e902";
}
.vi-git:before {
  content: "\e90e";
}
.vi-github:before {
  content: "\e90c";
}
.vi-google:before {
  content: "\e913";
}
.vi-google+:before {
  content: "\e914";
}
.vi-instagram:before {
  content: "\e903";
}
.vi-medium:before {
  content: "\e904";
}
.vi-kickstarter:before {
  content: "\e917";
}
.vi-paypal:before {
  content: "\e905";
}
.vi-pinterest:before {
  content: "\e90d";
}
.vi-twitter:before {
  content: "\e906";
}
.vi-reddit:before {
  content: "\e910";
}
.vi-slack:before {
  content: "\e918";
}
.vi-snapchat:before {
  content: "\e911";
}
.vi-spotify:before {
  content: "\e916";
}
.vi-tripadvisor:before {
  content: "\e912";
}
.vi-visualmodo:before {
  content: "\e907";
}
.vi-whatsapp:before {
  content: "\e915";
}
.vi-wordpress:before {
  content: "\e908";
}
.vi-youtube:before {
  content: "\e909";
}
