@import "variables";

@font-face {
  font-family: 'vi';
  src:
    url('#{$icomoon-font-path}/vi.ttf?ddzsg4') format('truetype'),
    url('#{$icomoon-font-path}/vi.woff?ddzsg4') format('woff'),
    url('#{$icomoon-font-path}/vi.svg?ddzsg4#vi') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-add-tab {
  &:before {
    content: $vi-add-tab;
  }
}
.vi-airplane-mode {
  &:before {
    content: $vi-airplane-mode;
  }
}
.vi-airplane-mode-off {
  &:before {
    content: $vi-airplane-mode-off;
  }
}
.vi-align-bottom {
  &:before {
    content: $vi-align-bottom;
  }
}
.vi-align-left {
  &:before {
    content: $vi-align-left;
  }
}
.vi-align-right {
  &:before {
    content: $vi-align-right;
  }
}
.vi-align-top {
  &:before {
    content: $vi-align-top;
  }
}
.vi-amazon {
  &:before {
    content: $vi-amazon;
  }
}
.vi-android {
  &:before {
    content: $vi-android;
  }
}
.vi-apple {
  &:before {
    content: $vi-apple;
  }
}
.vi-atom {
  &:before {
    content: $vi-atom;
  }
}
.vi-backward {
  &:before {
    content: $vi-backward;
  }
}
.vi-behance {
  &:before {
    content: $vi-behance;
  }
}
.vi-bitcoin {
  &:before {
    content: $vi-bitcoin;
  }
}
.vi-block-circle {
  &:before {
    content: $vi-block-circle;
  }
}
.vi-bootstrap {
  &:before {
    content: $vi-bootstrap;
  }
}
.vi-brightness-high {
  &:before {
    content: $vi-brightness-high;
  }
}
.vi-brightness-low {
  &:before {
    content: $vi-brightness-low;
  }
}
.vi-check {
  &:before {
    content: $vi-check;
  }
}
.vi-check-all {
  &:before {
    content: $vi-check-all;
  }
}
.vi-check-circle {
  &:before {
    content: $vi-check-circle;
  }
}
.vi-check-circle-alt {
  &:before {
    content: $vi-check-circle-alt;
  }
}
.vi-check-square {
  &:before {
    content: $vi-check-square;
  }
}
.vi-check-square-alt {
  &:before {
    content: $vi-check-square-alt;
  }
}
.vi-close {
  &:before {
    content: $vi-close;
  }
}
.vi-close-circle {
  &:before {
    content: $vi-close-circle;
  }
}
.vi-close-square {
  &:before {
    content: $vi-close-square;
  }
}
.vi-close-square-full {
  &:before {
    content: $vi-close-square-full;
  }
}
.vi-config {
  &:before {
    content: $vi-config;
  }
}
.vi-config-alt {
  &:before {
    content: $vi-config-alt;
  }
}
.vi-dash {
  &:before {
    content: $vi-dash;
  }
}
.vi-door-lock {
  &:before {
    content: $vi-door-lock;
  }
}
.vi-download {
  &:before {
    content: $vi-download;
  }
}
.vi-download-alt {
  &:before {
    content: $vi-download-alt;
  }
}
.vi-dribbble {
  &:before {
    content: $vi-dribbble;
  }
}
.vi-dropbox {
  &:before {
    content: $vi-dropbox;
  }
}
.vi-ebay {
  &:before {
    content: $vi-ebay;
  }
}
.vi-edit-circle {
  &:before {
    content: $vi-edit-circle;
  }
}
.vi-edit-square {
  &:before {
    content: $vi-edit-square;
  }
}
.vi-ethereum {
  &:before {
    content: $vi-ethereum;
  }
}
.vi-exclamation-circle {
  &:before {
    content: $vi-exclamation-circle;
  }
}
.vi-expand {
  &:before {
    content: $vi-expand;
  }
}
.vi-expand-2 {
  &:before {
    content: $vi-expand-2;
  }
}
.vi-expand-3 {
  &:before {
    content: $vi-expand-3;
  }
}
.vi-expand-4 {
  &:before {
    content: $vi-expand-4;
  }
}
.vi-expand-horizontal {
  &:before {
    content: $vi-expand-horizontal;
  }
}
.vi-expand-vertical {
  &:before {
    content: $vi-expand-vertical;
  }
}
.vi-eye {
  &:before {
    content: $vi-eye;
  }
}
.vi-eye-off {
  &:before {
    content: $vi-eye-off;
  }
}
.vi-facebook {
  &:before {
    content: $vi-facebook;
  }
}
.vi-flash {
  &:before {
    content: $vi-flash;
  }
}
.vi-flash-2 {
  &:before {
    content: $vi-flash-2;
  }
}
.vi-flash-3 {
  &:before {
    content: $vi-flash-3;
  }
}
.vi-flip-horizontal {
  &:before {
    content: $vi-flip-horizontal;
  }
}
.vi-flip-vertical {
  &:before {
    content: $vi-flip-vertical;
  }
}
.vi-foward {
  &:before {
    content: $vi-foward;
  }
}
.vi-git {
  &:before {
    content: $vi-git;
  }
}
.vi-github {
  &:before {
    content: $vi-github;
  }
}
.vi-google {
  &:before {
    content: $vi-google;
  }
}
.vi-google+ {
  &:before {
    content: $vi-google+;
  }
}
.vi-google-play {
  &:before {
    content: $vi-google-play;
  }
}
.vi-grid-circles {
  &:before {
    content: $vi-grid-circles;
  }
}
.vi-grid-squares {
  &:before {
    content: $vi-grid-squares;
  }
}
.vi-grid-squares-2 {
  &:before {
    content: $vi-grid-squares-2;
  }
}
.vi-hamburger-menu {
  &:before {
    content: $vi-hamburger-menu;
  }
}
.vi-hamburger-menu-compact {
  &:before {
    content: $vi-hamburger-menu-compact;
  }
}
.vi-help {
  &:before {
    content: $vi-help;
  }
}
.vi-help-2 {
  &:before {
    content: $vi-help-2;
  }
}
.vi-home {
  &:before {
    content: $vi-home;
  }
}
.vi-info-circle {
  &:before {
    content: $vi-info-circle;
  }
}
.vi-inside {
  &:before {
    content: $vi-inside;
  }
}
.vi-instagram {
  &:before {
    content: $vi-instagram;
  }
}
.vi-kickstarter {
  &:before {
    content: $vi-kickstarter;
  }
}
.vi-linkedin {
  &:before {
    content: $vi-linkedin;
  }
}
.vi-litecoin {
  &:before {
    content: $vi-litecoin;
  }
}
.vi-mailchimp {
  &:before {
    content: $vi-mailchimp;
  }
}
.vi-medium {
  &:before {
    content: $vi-medium;
  }
}
.vi-microsoft {
  &:before {
    content: $vi-microsoft;
  }
}
.vi-minus-circle {
  &:before {
    content: $vi-minus-circle;
  }
}
.vi-minus-square {
  &:before {
    content: $vi-minus-square;
  }
}
.vi-monero {
  &:before {
    content: $vi-monero;
  }
}
.vi-nem {
  &:before {
    content: $vi-nem;
  }
}
.vi-paypal {
  &:before {
    content: $vi-paypal;
  }
}
.vi-pinterest {
  &:before {
    content: $vi-pinterest;
  }
}
.vi-playstation {
  &:before {
    content: $vi-playstation;
  }
}
.vi-plus {
  &:before {
    content: $vi-plus;
  }
}
.vi-plus-circle {
  &:before {
    content: $vi-plus-circle;
  }
}
.vi-plus-square {
  &:before {
    content: $vi-plus-square;
  }
}
.vi-power {
  &:before {
    content: $vi-power;
  }
}
.vi-react {
  &:before {
    content: $vi-react;
  }
}
.vi-reddit {
  &:before {
    content: $vi-reddit;
  }
}
.vi-ripple {
  &:before {
    content: $vi-ripple;
  }
}
.vi-skype {
  &:before {
    content: $vi-skype;
  }
}
.vi-slack {
  &:before {
    content: $vi-slack;
  }
}
.vi-snapchat {
  &:before {
    content: $vi-snapchat;
  }
}
.vi-spotify {
  &:before {
    content: $vi-spotify;
  }
}
.vi-steam {
  &:before {
    content: $vi-steam;
  }
}
.vi-stripe {
  &:before {
    content: $vi-stripe;
  }
}
.vi-tesla {
  &:before {
    content: $vi-tesla;
  }
}
.vi-tether {
  &:before {
    content: $vi-tether;
  }
}
.vi-tripadvisor {
  &:before {
    content: $vi-tripadvisor;
  }
}
.vi-twitch {
  &:before {
    content: $vi-twitch;
  }
}
.vi-twitter {
  &:before {
    content: $vi-twitter;
  }
}
.vi-vimeo {
  &:before {
    content: $vi-vimeo;
  }
}
.vi-visualmodo {
  &:before {
    content: $vi-visualmodo;
  }
}
.vi-warning-circle {
  &:before {
    content: $vi-warning-circle;
  }
}
.vi-warning-triangle {
  &:before {
    content: $vi-warning-triangle;
  }
}
.vi-whatsapp {
  &:before {
    content: $vi-whatsapp;
  }
}
.vi-wikipedia {
  &:before {
    content: $vi-wikipedia;
  }
}
.vi-wordpress {
  &:before {
    content: $vi-wordpress;
  }
}
.vi-xbox {
  &:before {
    content: $vi-xbox;
  }
}
.vi-youtube {
  &:before {
    content: $vi-youtube;
  }
}
.vi-zendesk {
  &:before {
    content: $vi-zendesk;
  }
}

