@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?wuom4n') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?wuom4n') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?wuom4n##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-folder-warning {
  &:before {
    content: $vi-folder-warning; 
  }
}
.vi-folder-video {
  &:before {
    content: $vi-folder-video; 
  }
}
.vi-folder-upload {
  &:before {
    content: $vi-folder-upload; 
  }
}
.vi-folder-text {
  &:before {
    content: $vi-folder-text; 
  }
}
.vi-folder-sync {
  &:before {
    content: $vi-folder-sync; 
  }
}
.vi-folder-star {
  &:before {
    content: $vi-folder-star; 
  }
}
.vi-folder-share {
  &:before {
    content: $vi-folder-share; 
  }
}
.vi-folder-search {
  &:before {
    content: $vi-folder-search; 
  }
}
.vi-folder-open {
  &:before {
    content: $vi-folder-open; 
  }
}
.vi-folder-new {
  &:before {
    content: $vi-folder-new; 
  }
}
.vi-folder-locked {
  &:before {
    content: $vi-folder-locked; 
  }
}
.vi-folder-linked {
  &:before {
    content: $vi-folder-linked; 
  }
}
.vi-folder-info {
  &:before {
    content: $vi-folder-info; 
  }
}
.vi-folder-import {
  &:before {
    content: $vi-folder-import; 
  }
}
.vi-folder-image {
  &:before {
    content: $vi-folder-image; 
  }
}
.vi-folder-file {
  &:before {
    content: $vi-folder-file; 
  }
}
.vi-folder-export {
  &:before {
    content: $vi-folder-export; 
  }
}
.vi-folder-exchange {
  &:before {
    content: $vi-folder-exchange; 
  }
}
.vi-folder-download {
  &:before {
    content: $vi-folder-download; 
  }
}
.vi-folder-delete {
  &:before {
    content: $vi-folder-delete; 
  }
}
.vi-folder-copy {
  &:before {
    content: $vi-folder-copy; 
  }
}
.vi-folder-code {
  &:before {
    content: $vi-folder-code; 
  }
}
.vi-folder-check {
  &:before {
    content: $vi-folder-check; 
  }
}
.vi-folder-bookmark {
  &:before {
    content: $vi-folder-bookmark; 
  }
}
.vi-folder-backup {
  &:before {
    content: $vi-folder-backup; 
  }
}
.vi-folder-audio {
  &:before {
    content: $vi-folder-audio; 
  }
}
.vi-folder-archive {
  &:before {
    content: $vi-folder-archive; 
  }
}
.vi-folder {
  &:before {
    content: $vi-folder; 
  }
}
.vi-add-tab {
  &:before {
    content: $vi-add-tab; 
  }
}
.vi-airplane-mode {
  &:before {
    content: $vi-airplane-mode; 
  }
}
.vi-airplane-mode-off {
  &:before {
    content: $vi-airplane-mode-off; 
  }
}
.vi-align-bottom {
  &:before {
    content: $vi-align-bottom; 
  }
}
.vi-align-left {
  &:before {
    content: $vi-align-left; 
  }
}
.vi-align-right {
  &:before {
    content: $vi-align-right; 
  }
}
.vi-align-top {
  &:before {
    content: $vi-align-top; 
  }
}
.vi-amazon {
  &:before {
    content: $vi-amazon; 
  }
}
.vi-android {
  &:before {
    content: $vi-android; 
  }
}
.vi-answer {
  &:before {
    content: $vi-answer; 
  }
}
.vi-apple {
  &:before {
    content: $vi-apple; 
  }
}
.vi-atom {
  &:before {
    content: $vi-atom; 
  }
}
.vi-auction {
  &:before {
    content: $vi-auction; 
  }
}
.vi-back {
  &:before {
    content: $vi-back; 
  }
}
.vi-back-2 {
  &:before {
    content: $vi-back-2; 
  }
}
.vi-back-3 {
  &:before {
    content: $vi-back-3; 
  }
}
.vi-back-4 {
  &:before {
    content: $vi-back-4; 
  }
}
.vi-back-4-circle {
  &:before {
    content: $vi-back-4-circle; 
  }
}
.vi-back-5 {
  &:before {
    content: $vi-back-5; 
  }
}
.vi-back-6 {
  &:before {
    content: $vi-back-6; 
  }
}
.vi-back-7 {
  &:before {
    content: $vi-back-7; 
  }
}
.vi-back-square-4 {
  &:before {
    content: $vi-back-square-4; 
  }
}
.vi-backward {
  &:before {
    content: $vi-backward; 
  }
}
.vi-backward-2 {
  &:before {
    content: $vi-backward-2; 
  }
}
.vi-bag-remove {
  &:before {
    content: $vi-bag-remove; 
  }
}
.vi-barcode-scan {
  &:before {
    content: $vi-barcode-scan; 
  }
}
.vi-basket {
  &:before {
    content: $vi-basket; 
  }
}
.vi-basket-add {
  &:before {
    content: $vi-basket-add; 
  }
}
.vi-basket-checked {
  &:before {
    content: $vi-basket-checked; 
  }
}
.vi-basket-close {
  &:before {
    content: $vi-basket-close; 
  }
}
.vi-basket-in {
  &:before {
    content: $vi-basket-in; 
  }
}
.vi-basket-out {
  &:before {
    content: $vi-basket-out; 
  }
}
.vi-basket-remove {
  &:before {
    content: $vi-basket-remove; 
  }
}
.vi-behance {
  &:before {
    content: $vi-behance; 
  }
}
.vi-bitcoin {
  &:before {
    content: $vi-bitcoin; 
  }
}
.vi-block-circle {
  &:before {
    content: $vi-block-circle; 
  }
}
.vi-bootstrap {
  &:before {
    content: $vi-bootstrap; 
  }
}
.vi-brightness-high {
  &:before {
    content: $vi-brightness-high; 
  }
}
.vi-brightness-low {
  &:before {
    content: $vi-brightness-low; 
  }
}
.vi-call {
  &:before {
    content: $vi-call; 
  }
}
.vi-call-back {
  &:before {
    content: $vi-call-back; 
  }
}
.vi-call-block {
  &:before {
    content: $vi-call-block; 
  }
}
.vi-call-end {
  &:before {
    content: $vi-call-end; 
  }
}
.vi-call-hold {
  &:before {
    content: $vi-call-hold; 
  }
}
.vi-call-in {
  &:before {
    content: $vi-call-in; 
  }
}
.vi-call-logs {
  &:before {
    content: $vi-call-logs; 
  }
}
.vi-call-off {
  &:before {
    content: $vi-call-off; 
  }
}
.vi-call-out {
  &:before {
    content: $vi-call-out; 
  }
}
.vi-cart {
  &:before {
    content: $vi-cart; 
  }
}
.vi-cart-add {
  &:before {
    content: $vi-cart-add; 
  }
}
.vi-cart-cancel {
  &:before {
    content: $vi-cart-cancel; 
  }
}
.vi-cart-checked {
  &:before {
    content: $vi-cart-checked; 
  }
}
.vi-cart-in {
  &:before {
    content: $vi-cart-in; 
  }
}
.vi-cart-loaded {
  &:before {
    content: $vi-cart-loaded; 
  }
}
.vi-cart-out {
  &:before {
    content: $vi-cart-out; 
  }
}
.vi-cart-remove {
  &:before {
    content: $vi-cart-remove; 
  }
}
.vi-chat {
  &:before {
    content: $vi-chat; 
  }
}
.vi-chat-2 {
  &:before {
    content: $vi-chat-2; 
  }
}
.vi-chat-3 {
  &:before {
    content: $vi-chat-3; 
  }
}
.vi-check {
  &:before {
    content: $vi-check; 
  }
}
.vi-check-all {
  &:before {
    content: $vi-check-all; 
  }
}
.vi-check-circle {
  &:before {
    content: $vi-check-circle; 
  }
}
.vi-check-circle-alt {
  &:before {
    content: $vi-check-circle-alt; 
  }
}
.vi-check-square {
  &:before {
    content: $vi-check-square; 
  }
}
.vi-check-square-alt {
  &:before {
    content: $vi-check-square-alt; 
  }
}
.vi-circle-down {
  &:before {
    content: $vi-circle-down; 
  }
}
.vi-circle-down-2 {
  &:before {
    content: $vi-circle-down-2; 
  }
}
.vi-circle-down-3 {
  &:before {
    content: $vi-circle-down-3; 
  }
}
.vi-circle-left {
  &:before {
    content: $vi-circle-left; 
  }
}
.vi-circle-left-2 {
  &:before {
    content: $vi-circle-left-2; 
  }
}
.vi-circle-left-3 {
  &:before {
    content: $vi-circle-left-3; 
  }
}
.vi-circle-right {
  &:before {
    content: $vi-circle-right; 
  }
}
.vi-circle-right-2 {
  &:before {
    content: $vi-circle-right-2; 
  }
}
.vi-circle-right-3 {
  &:before {
    content: $vi-circle-right-3; 
  }
}
.vi-circle-up {
  &:before {
    content: $vi-circle-up; 
  }
}
.vi-circle-up-2 {
  &:before {
    content: $vi-circle-up-2; 
  }
}
.vi-circle-up-3 {
  &:before {
    content: $vi-circle-up-3; 
  }
}
.vi-close {
  &:before {
    content: $vi-close; 
  }
}
.vi-close-circle {
  &:before {
    content: $vi-close-circle; 
  }
}
.vi-close-square {
  &:before {
    content: $vi-close-square; 
  }
}
.vi-close-square-full {
  &:before {
    content: $vi-close-square-full; 
  }
}
.vi-comment {
  &:before {
    content: $vi-comment; 
  }
}
.vi-comment-2 {
  &:before {
    content: $vi-comment-2; 
  }
}
.vi-comment-2-hashtag {
  &:before {
    content: $vi-comment-2-hashtag; 
  }
}
.vi-comment-2-quote {
  &:before {
    content: $vi-comment-2-quote; 
  }
}
.vi-comment-2-smile {
  &:before {
    content: $vi-comment-2-smile; 
  }
}
.vi-comment-2-write {
  &:before {
    content: $vi-comment-2-write; 
  }
}
.vi-comment-3 {
  &:before {
    content: $vi-comment-3; 
  }
}
.vi-comment-3-write {
  &:before {
    content: $vi-comment-3-write; 
  }
}
.vi-comment-like {
  &:before {
    content: $vi-comment-like; 
  }
}
.vi-comments {
  &:before {
    content: $vi-comments; 
  }
}
.vi-comments-2 {
  &:before {
    content: $vi-comments-2; 
  }
}
.vi-comments-3 {
  &:before {
    content: $vi-comments-3; 
  }
}
.vi-config {
  &:before {
    content: $vi-config; 
  }
}
.vi-config-alt {
  &:before {
    content: $vi-config-alt; 
  }
}
.vi-dash {
  &:before {
    content: $vi-dash; 
  }
}
.vi-delivery {
  &:before {
    content: $vi-delivery; 
  }
}
.vi-delivery-2 {
  &:before {
    content: $vi-delivery-2; 
  }
}
.vi-delivery-box {
  &:before {
    content: $vi-delivery-box; 
  }
}
.vi-delivery-box-2 {
  &:before {
    content: $vi-delivery-box-2; 
  }
}
.vi-discount-circle {
  &:before {
    content: $vi-discount-circle; 
  }
}
.vi-discount-star {
  &:before {
    content: $vi-discount-star; 
  }
}
.vi-door-lock {
  &:before {
    content: $vi-door-lock; 
  }
}
.vi-double-arrows-left {
  &:before {
    content: $vi-double-arrows-left; 
  }
}
.vi-double-arrows-right {
  &:before {
    content: $vi-double-arrows-right; 
  }
}
.vi-down {
  &:before {
    content: $vi-down; 
  }
}
.vi-down-2 {
  &:before {
    content: $vi-down-2; 
  }
}
.vi-down-3 {
  &:before {
    content: $vi-down-3; 
  }
}
.vi-download {
  &:before {
    content: $vi-download; 
  }
}
.vi-download-alt {
  &:before {
    content: $vi-download-alt; 
  }
}
.vi-dribbble {
  &:before {
    content: $vi-dribbble; 
  }
}
.vi-dropbox {
  &:before {
    content: $vi-dropbox; 
  }
}
.vi-ebay {
  &:before {
    content: $vi-ebay; 
  }
}
.vi-edit-circle {
  &:before {
    content: $vi-edit-circle; 
  }
}
.vi-edit-square {
  &:before {
    content: $vi-edit-square; 
  }
}
.vi-email {
  &:before {
    content: $vi-email; 
  }
}
.vi-email-2-at {
  &:before {
    content: $vi-email-2-at; 
  }
}
.vi-email-2-letter {
  &:before {
    content: $vi-email-2-letter; 
  }
}
.vi-email-2-open {
  &:before {
    content: $vi-email-2-open; 
  }
}
.vi-email-2-search {
  &:before {
    content: $vi-email-2-search; 
  }
}
.vi-email-at {
  &:before {
    content: $vi-email-at; 
  }
}
.vi-email-ban {
  &:before {
    content: $vi-email-ban; 
  }
}
.vi-email-check {
  &:before {
    content: $vi-email-check; 
  }
}
.vi-email-close {
  &:before {
    content: $vi-email-close; 
  }
}
.vi-email-delete {
  &:before {
    content: $vi-email-delete; 
  }
}
.vi-email-edit {
  &:before {
    content: $vi-email-edit; 
  }
}
.vi-email-forward {
  &:before {
    content: $vi-email-forward; 
  }
}
.vi-email-in {
  &:before {
    content: $vi-email-in; 
  }
}
.vi-email-letter {
  &:before {
    content: $vi-email-letter; 
  }
}
.vi-email-locked {
  &:before {
    content: $vi-email-locked; 
  }
}
.vi-email-new {
  &:before {
    content: $vi-email-new; 
  }
}
.vi-email-open {
  &:before {
    content: $vi-email-open; 
  }
}
.vi-email-out {
  &:before {
    content: $vi-email-out; 
  }
}
.vi-email-refresh {
  &:before {
    content: $vi-email-refresh; 
  }
}
.vi-email-reply {
  &:before {
    content: $vi-email-reply; 
  }
}
.vi-email-search {
  &:before {
    content: $vi-email-search; 
  }
}
.vi-email-send {
  &:before {
    content: $vi-email-send; 
  }
}
.vi-email-star {
  &:before {
    content: $vi-email-star; 
  }
}
.vi-ethereum {
  &:before {
    content: $vi-ethereum; 
  }
}
.vi-expand {
  &:before {
    content: $vi-expand; 
  }
}
.vi-expand-2 {
  &:before {
    content: $vi-expand-2; 
  }
}
.vi-expand-3 {
  &:before {
    content: $vi-expand-3; 
  }
}
.vi-expand-4 {
  &:before {
    content: $vi-expand-4; 
  }
}
.vi-expand-horizontal {
  &:before {
    content: $vi-expand-horizontal; 
  }
}
.vi-expand-vertical {
  &:before {
    content: $vi-expand-vertical; 
  }
}
.vi-eye {
  &:before {
    content: $vi-eye; 
  }
}
.vi-eye-off {
  &:before {
    content: $vi-eye-off; 
  }
}
.vi-facebook {
  &:before {
    content: $vi-facebook; 
  }
}
.vi-file {
  &:before {
    content: $vi-file; 
  }
}
.vi-file-archive {
  &:before {
    content: $vi-file-archive; 
  }
}
.vi-file-audio {
  &:before {
    content: $vi-file-audio; 
  }
}
.vi-file-backup {
  &:before {
    content: $vi-file-backup; 
  }
}
.vi-file-bookmark {
  &:before {
    content: $vi-file-bookmark; 
  }
}
.vi-file-clip {
  &:before {
    content: $vi-file-clip; 
  }
}
.vi-file-code {
  &:before {
    content: $vi-file-code; 
  }
}
.vi-file-copy {
  &:before {
    content: $vi-file-copy; 
  }
}
.vi-file-corrupted {
  &:before {
    content: $vi-file-corrupted; 
  }
}
.vi-file-delete {
  &:before {
    content: $vi-file-delete; 
  }
}
.vi-file-download {
  &:before {
    content: $vi-file-download; 
  }
}
.vi-file-edit {
  &:before {
    content: $vi-file-edit; 
  }
}
.vi-file-error {
  &:before {
    content: $vi-file-error; 
  }
}
.vi-file-exchange {
  &:before {
    content: $vi-file-exchange; 
  }
}
.vi-file-export {
  &:before {
    content: $vi-file-export; 
  }
}
.vi-file-image {
  &:before {
    content: $vi-file-image; 
  }
}
.vi-file-import {
  &:before {
    content: $vi-file-import; 
  }
}
.vi-file-info {
  &:before {
    content: $vi-file-info; 
  }
}
.vi-file-linked {
  &:before {
    content: $vi-file-linked; 
  }
}
.vi-file-load {
  &:before {
    content: $vi-file-load; 
  }
}
.vi-file-locked {
  &:before {
    content: $vi-file-locked; 
  }
}
.vi-file-new {
  &:before {
    content: $vi-file-new; 
  }
}
.vi-file-remove {
  &:before {
    content: $vi-file-remove; 
  }
}
.vi-file-search {
  &:before {
    content: $vi-file-search; 
  }
}
.vi-file-settings {
  &:before {
    content: $vi-file-settings; 
  }
}
.vi-file-share {
  &:before {
    content: $vi-file-share; 
  }
}
.vi-file-star {
  &:before {
    content: $vi-file-star; 
  }
}
.vi-file-sync {
  &:before {
    content: $vi-file-sync; 
  }
}
.vi-file-table {
  &:before {
    content: $vi-file-table; 
  }
}
.vi-file-text {
  &:before {
    content: $vi-file-text; 
  }
}
.vi-file-upload {
  &:before {
    content: $vi-file-upload; 
  }
}
.vi-file-vector {
  &:before {
    content: $vi-file-vector; 
  }
}
.vi-file-video {
  &:before {
    content: $vi-file-video; 
  }
}
.vi-file-warning {
  &:before {
    content: $vi-file-warning; 
  }
}
.vi-files {
  &:before {
    content: $vi-files; 
  }
}
.vi-files-2 {
  &:before {
    content: $vi-files-2; 
  }
}
.vi-flash {
  &:before {
    content: $vi-flash; 
  }
}
.vi-flash-2 {
  &:before {
    content: $vi-flash-2; 
  }
}
.vi-flash-3 {
  &:before {
    content: $vi-flash-3; 
  }
}
.vi-flip-horizontal {
  &:before {
    content: $vi-flip-horizontal; 
  }
}
.vi-flip-vertical {
  &:before {
    content: $vi-flip-vertical; 
  }
}
.vi-fork-arrows {
  &:before {
    content: $vi-fork-arrows; 
  }
}
.vi-forward {
  &:before {
    content: $vi-forward; 
  }
}
.vi-forward-2 {
  &:before {
    content: $vi-forward-2; 
  }
}
.vi-git {
  &:before {
    content: $vi-git; 
  }
}
.vi-github {
  &:before {
    content: $vi-github; 
  }
}
.vi-google {
  &:before {
    content: $vi-google; 
  }
}
.vi-google+ {
  &:before {
    content: $vi-google+; 
  }
}
.vi-google-play {
  &:before {
    content: $vi-google-play; 
  }
}
.vi-grid-circles {
  &:before {
    content: $vi-grid-circles; 
  }
}
.vi-grid-squares {
  &:before {
    content: $vi-grid-squares; 
  }
}
.vi-grid-squares-2 {
  &:before {
    content: $vi-grid-squares-2; 
  }
}
.vi-hamburger-menu {
  &:before {
    content: $vi-hamburger-menu; 
  }
}
.vi-hamburger-menu-compact {
  &:before {
    content: $vi-hamburger-menu-compact; 
  }
}
.vi-handbag {
  &:before {
    content: $vi-handbag; 
  }
}
.vi-help {
  &:before {
    content: $vi-help; 
  }
}
.vi-help-2 {
  &:before {
    content: $vi-help-2; 
  }
}
.vi-home {
  &:before {
    content: $vi-home; 
  }
}
.vi-inbox {
  &:before {
    content: $vi-inbox; 
  }
}
.vi-inbox-empty {
  &:before {
    content: $vi-inbox-empty; 
  }
}
.vi-inbox-full {
  &:before {
    content: $vi-inbox-full; 
  }
}
.vi-info-circle {
  &:before {
    content: $vi-info-circle; 
  }
}
.vi-inside {
  &:before {
    content: $vi-inside; 
  }
}
.vi-instagram {
  &:before {
    content: $vi-instagram; 
  }
}
.vi-key {
  &:before {
    content: $vi-key; 
  }
}
.vi-key-2 {
  &:before {
    content: $vi-key-2; 
  }
}
.vi-kickstarter {
  &:before {
    content: $vi-kickstarter; 
  }
}
.vi-label {
  &:before {
    content: $vi-label; 
  }
}
.vi-label-cancel {
  &:before {
    content: $vi-label-cancel; 
  }
}
.vi-layout {
  &:before {
    content: $vi-layout; 
  }
}
.vi-layout-2 {
  &:before {
    content: $vi-layout-2; 
  }
}
.vi-layout-3 {
  &:before {
    content: $vi-layout-3; 
  }
}
.vi-left {
  &:before {
    content: $vi-left; 
  }
}
.vi-left-2 {
  &:before {
    content: $vi-left-2; 
  }
}
.vi-left-3 {
  &:before {
    content: $vi-left-3; 
  }
}
.vi-letter {
  &:before {
    content: $vi-letter; 
  }
}
.vi-letters {
  &:before {
    content: $vi-letters; 
  }
}
.vi-linkedin {
  &:before {
    content: $vi-linkedin; 
  }
}
.vi-list {
  &:before {
    content: $vi-list; 
  }
}
.vi-list-2 {
  &:before {
    content: $vi-list-2; 
  }
}
.vi-list-3 {
  &:before {
    content: $vi-list-3; 
  }
}
.vi-list-4 {
  &:before {
    content: $vi-list-4; 
  }
}
.vi-list-heart {
  &:before {
    content: $vi-list-heart; 
  }
}
.vi-litecoin {
  &:before {
    content: $vi-litecoin; 
  }
}
.vi-lock {
  &:before {
    content: $vi-lock; 
  }
}
.vi-loop {
  &:before {
    content: $vi-loop; 
  }
}
.vi-magic-wand {
  &:before {
    content: $vi-magic-wand; 
  }
}
.vi-magic-wand-2 {
  &:before {
    content: $vi-magic-wand-2; 
  }
}
.vi-magnetic {
  &:before {
    content: $vi-magnetic; 
  }
}
.vi-magnifier {
  &:before {
    content: $vi-magnifier; 
  }
}
.vi-magnifier-2 {
  &:before {
    content: $vi-magnifier-2; 
  }
}
.vi-mailchimp {
  &:before {
    content: $vi-mailchimp; 
  }
}
.vi-maximize-left {
  &:before {
    content: $vi-maximize-left; 
  }
}
.vi-maximize-right {
  &:before {
    content: $vi-maximize-right; 
  }
}
.vi-medium {
  &:before {
    content: $vi-medium; 
  }
}
.vi-megaphone {
  &:before {
    content: $vi-megaphone; 
  }
}
.vi-megaphone-2 {
  &:before {
    content: $vi-megaphone-2; 
  }
}
.vi-menu-circle-grid {
  &:before {
    content: $vi-menu-circle-grid; 
  }
}
.vi-message {
  &:before {
    content: $vi-message; 
  }
}
.vi-message-2 {
  &:before {
    content: $vi-message-2; 
  }
}
.vi-message-2-alert {
  &:before {
    content: $vi-message-2-alert; 
  }
}
.vi-message-2-ask {
  &:before {
    content: $vi-message-2-ask; 
  }
}
.vi-message-2-heart {
  &:before {
    content: $vi-message-2-heart; 
  }
}
.vi-message-2-like {
  &:before {
    content: $vi-message-2-like; 
  }
}
.vi-message-2-pause {
  &:before {
    content: $vi-message-2-pause; 
  }
}
.vi-message-2-tone {
  &:before {
    content: $vi-message-2-tone; 
  }
}
.vi-message-2-write {
  &:before {
    content: $vi-message-2-write; 
  }
}
.vi-message-3 {
  &:before {
    content: $vi-message-3; 
  }
}
.vi-message-3-alert {
  &:before {
    content: $vi-message-3-alert; 
  }
}
.vi-message-3-ask {
  &:before {
    content: $vi-message-3-ask; 
  }
}
.vi-message-3-hashtag {
  &:before {
    content: $vi-message-3-hashtag; 
  }
}
.vi-message-3-heart {
  &:before {
    content: $vi-message-3-heart; 
  }
}
.vi-message-3-like {
  &:before {
    content: $vi-message-3-like; 
  }
}
.vi-message-3-music-tone {
  &:before {
    content: $vi-message-3-music-tone; 
  }
}
.vi-message-3-pause {
  &:before {
    content: $vi-message-3-pause; 
  }
}
.vi-message-3-quote {
  &:before {
    content: $vi-message-3-quote; 
  }
}
.vi-message-3-smile {
  &:before {
    content: $vi-message-3-smile; 
  }
}
.vi-message-3-write {
  &:before {
    content: $vi-message-3-write; 
  }
}
.vi-message-alert {
  &:before {
    content: $vi-message-alert; 
  }
}
.vi-message-ask {
  &:before {
    content: $vi-message-ask; 
  }
}
.vi-message-hashtag {
  &:before {
    content: $vi-message-hashtag; 
  }
}
.vi-message-heart {
  &:before {
    content: $vi-message-heart; 
  }
}
.vi-message-music-tone {
  &:before {
    content: $vi-message-music-tone; 
  }
}
.vi-message-pause {
  &:before {
    content: $vi-message-pause; 
  }
}
.vi-message-quote {
  &:before {
    content: $vi-message-quote; 
  }
}
.vi-message-smile {
  &:before {
    content: $vi-message-smile; 
  }
}
.vi-message-write {
  &:before {
    content: $vi-message-write; 
  }
}
.vi-microsoft {
  &:before {
    content: $vi-microsoft; 
  }
}
.vi-minus-circle {
  &:before {
    content: $vi-minus-circle; 
  }
}
.vi-minus-square {
  &:before {
    content: $vi-minus-square; 
  }
}
.vi-monero {
  &:before {
    content: $vi-monero; 
  }
}
.vi-more-circle {
  &:before {
    content: $vi-more-circle; 
  }
}
.vi-more-circle-horizontal {
  &:before {
    content: $vi-more-circle-horizontal; 
  }
}
.vi-more-circle-horizontal-filled {
  &:before {
    content: $vi-more-circle-horizontal-filled; 
  }
}
.vi-more-circle-vertical {
  &:before {
    content: $vi-more-circle-vertical; 
  }
}
.vi-more-circle-vertical-filled {
  &:before {
    content: $vi-more-circle-vertical-filled; 
  }
}
.vi-more-square-horizontal {
  &:before {
    content: $vi-more-square-horizontal; 
  }
}
.vi-more-square-horizontal-filled {
  &:before {
    content: $vi-more-square-horizontal-filled; 
  }
}
.vi-more-square-vertical {
  &:before {
    content: $vi-more-square-vertical; 
  }
}
.vi-more-square-vertical-filled {
  &:before {
    content: $vi-more-square-vertical-filled; 
  }
}
.vi-nem {
  &:before {
    content: $vi-nem; 
  }
}
.vi-next {
  &:before {
    content: $vi-next; 
  }
}
.vi-next-2 {
  &:before {
    content: $vi-next-2; 
  }
}
.vi-next-3 {
  &:before {
    content: $vi-next-3; 
  }
}
.vi-next-4 {
  &:before {
    content: $vi-next-4; 
  }
}
.vi-next-5 {
  &:before {
    content: $vi-next-5; 
  }
}
.vi-next-6 {
  &:before {
    content: $vi-next-6; 
  }
}
.vi-next-7 {
  &:before {
    content: $vi-next-7; 
  }
}
.vi-notification {
  &:before {
    content: $vi-notification; 
  }
}
.vi-notification-add {
  &:before {
    content: $vi-notification-add; 
  }
}
.vi-notification-off {
  &:before {
    content: $vi-notification-off; 
  }
}
.vi-notification-paused {
  &:before {
    content: $vi-notification-paused; 
  }
}
.vi-open-sign {
  &:before {
    content: $vi-open-sign; 
  }
}
.vi-outbox {
  &:before {
    content: $vi-outbox; 
  }
}
.vi-outside {
  &:before {
    content: $vi-outside; 
  }
}
.vi-paper-clip {
  &:before {
    content: $vi-paper-clip; 
  }
}
.vi-paper-plane {
  &:before {
    content: $vi-paper-plane; 
  }
}
.vi-paper-plane-2 {
  &:before {
    content: $vi-paper-plane-2; 
  }
}
.vi-pass {
  &:before {
    content: $vi-pass; 
  }
}
.vi-paypal {
  &:before {
    content: $vi-paypal; 
  }
}
.vi-phone-call-in {
  &:before {
    content: $vi-phone-call-in; 
  }
}
.vi-phone-call-out {
  &:before {
    content: $vi-phone-call-out; 
  }
}
.vi-phone-contacts {
  &:before {
    content: $vi-phone-contacts; 
  }
}
.vi-phone-message {
  &:before {
    content: $vi-phone-message; 
  }
}
.vi-phone-message-2 {
  &:before {
    content: $vi-phone-message-2; 
  }
}
.vi-phone-message-3 {
  &:before {
    content: $vi-phone-message-3; 
  }
}
.vi-phone-ring {
  &:before {
    content: $vi-phone-ring; 
  }
}
.vi-phone-vibration {
  &:before {
    content: $vi-phone-vibration; 
  }
}
.vi-pin {
  &:before {
    content: $vi-pin; 
  }
}
.vi-pin-2 {
  &:before {
    content: $vi-pin-2; 
  }
}
.vi-pin-3 {
  &:before {
    content: $vi-pin-3; 
  }
}
.vi-pinterest {
  &:before {
    content: $vi-pinterest; 
  }
}
.vi-playstation {
  &:before {
    content: $vi-playstation; 
  }
}
.vi-plus {
  &:before {
    content: $vi-plus; 
  }
}
.vi-plus-circle {
  &:before {
    content: $vi-plus-circle; 
  }
}
.vi-plus-square {
  &:before {
    content: $vi-plus-square; 
  }
}
.vi-power {
  &:before {
    content: $vi-power; 
  }
}
.vi-price-tag {
  &:before {
    content: $vi-price-tag; 
  }
}
.vi-q-and-a {
  &:before {
    content: $vi-q-and-a; 
  }
}
.vi-qr-code {
  &:before {
    content: $vi-qr-code; 
  }
}
.vi-question-circle {
  &:before {
    content: $vi-question-circle; 
  }
}
.vi-react {
  &:before {
    content: $vi-react; 
  }
}
.vi-reddit {
  &:before {
    content: $vi-reddit; 
  }
}
.vi-refresh {
  &:before {
    content: $vi-refresh; 
  }
}
.vi-refresh-2 {
  &:before {
    content: $vi-refresh-2; 
  }
}
.vi-refresh-warning {
  &:before {
    content: $vi-refresh-warning; 
  }
}
.vi-reload {
  &:before {
    content: $vi-reload; 
  }
}
.vi-reload-checked {
  &:before {
    content: $vi-reload-checked; 
  }
}
.vi-remove-tab {
  &:before {
    content: $vi-remove-tab; 
  }
}
.vi-right {
  &:before {
    content: $vi-right; 
  }
}
.vi-right-2 {
  &:before {
    content: $vi-right-2; 
  }
}
.vi-right-3 {
  &:before {
    content: $vi-right-3; 
  }
}
.vi-ripple {
  &:before {
    content: $vi-ripple; 
  }
}
.vi-s-arrow {
  &:before {
    content: $vi-s-arrow; 
  }
}
.vi-s-arrow-2 {
  &:before {
    content: $vi-s-arrow-2; 
  }
}
.vi-scroll {
  &:before {
    content: $vi-scroll; 
  }
}
.vi-search-history {
  &:before {
    content: $vi-search-history; 
  }
}
.vi-settings {
  &:before {
    content: $vi-settings; 
  }
}
.vi-share {
  &:before {
    content: $vi-share; 
  }
}
.vi-share-2 {
  &:before {
    content: $vi-share-2; 
  }
}
.vi-share-3 {
  &:before {
    content: $vi-share-3; 
  }
}
.vi-share-4 {
  &:before {
    content: $vi-share-4; 
  }
}
.vi-shopping-tag {
  &:before {
    content: $vi-shopping-tag; 
  }
}
.vi-shopping-tags {
  &:before {
    content: $vi-shopping-tags; 
  }
}
.vi-skype {
  &:before {
    content: $vi-skype; 
  }
}
.vi-slack {
  &:before {
    content: $vi-slack; 
  }
}
.vi-snapchat {
  &:before {
    content: $vi-snapchat; 
  }
}
.vi-spotify {
  &:before {
    content: $vi-spotify; 
  }
}
.vi-steam {
  &:before {
    content: $vi-steam; 
  }
}
.vi-stripe {
  &:before {
    content: $vi-stripe; 
  }
}
.vi-swap-horizontal {
  &:before {
    content: $vi-swap-horizontal; 
  }
}
.vi-swap-vertical {
  &:before {
    content: $vi-swap-vertical; 
  }
}
.vi-switch-off {
  &:before {
    content: $vi-switch-off; 
  }
}
.vi-switch-on {
  &:before {
    content: $vi-switch-on; 
  }
}
.vi-switches {
  &:before {
    content: $vi-switches; 
  }
}
.vi-switches-2 {
  &:before {
    content: $vi-switches-2; 
  }
}
.vi-tabs {
  &:before {
    content: $vi-tabs; 
  }
}
.vi-tabs-2 {
  &:before {
    content: $vi-tabs-2; 
  }
}
.vi-telephone {
  &:before {
    content: $vi-telephone; 
  }
}
.vi-tesla {
  &:before {
    content: $vi-tesla; 
  }
}
.vi-tether {
  &:before {
    content: $vi-tether; 
  }
}
.vi-ticket {
  &:before {
    content: $vi-ticket; 
  }
}
.vi-trash {
  &:before {
    content: $vi-trash; 
  }
}
.vi-trash-recycle {
  &:before {
    content: $vi-trash-recycle; 
  }
}
.vi-tripadvisor {
  &:before {
    content: $vi-tripadvisor; 
  }
}
.vi-twitch {
  &:before {
    content: $vi-twitch; 
  }
}
.vi-twitter {
  &:before {
    content: $vi-twitter; 
  }
}
.vi-unlock {
  &:before {
    content: $vi-unlock; 
  }
}
.vi-up {
  &:before {
    content: $vi-up; 
  }
}
.vi-up-2 {
  &:before {
    content: $vi-up-2; 
  }
}
.vi-up-3 {
  &:before {
    content: $vi-up-3; 
  }
}
.vi-upload {
  &:before {
    content: $vi-upload; 
  }
}
.vi-upload-2 {
  &:before {
    content: $vi-upload-2; 
  }
}
.vi-vimeo {
  &:before {
    content: $vi-vimeo; 
  }
}
.vi-visualmodo {
  &:before {
    content: $vi-visualmodo; 
  }
}
.vi-voicemail {
  &:before {
    content: $vi-voicemail; 
  }
}
.vi-wallet {
  &:before {
    content: $vi-wallet; 
  }
}
.vi-wallet-2 {
  &:before {
    content: $vi-wallet-2; 
  }
}
.vi-wallet-add {
  &:before {
    content: $vi-wallet-add; 
  }
}
.vi-wallet-ban {
  &:before {
    content: $vi-wallet-ban; 
  }
}
.vi-wallet-cancel {
  &:before {
    content: $vi-wallet-cancel; 
  }
}
.vi-wallet-info {
  &:before {
    content: $vi-wallet-info; 
  }
}
.vi-wallet-loaded {
  &:before {
    content: $vi-wallet-loaded; 
  }
}
.vi-wallet-locked {
  &:before {
    content: $vi-wallet-locked; 
  }
}
.vi-wallet-verified {
  &:before {
    content: $vi-wallet-verified; 
  }
}
.vi-warning-circle {
  &:before {
    content: $vi-warning-circle; 
  }
}
.vi-warning-triangle {
  &:before {
    content: $vi-warning-triangle; 
  }
}
.vi-whatsapp {
  &:before {
    content: $vi-whatsapp; 
  }
}
.vi-wikipedia {
  &:before {
    content: $vi-wikipedia; 
  }
}
.vi-wordpress {
  &:before {
    content: $vi-wordpress; 
  }
}
.vi-xbox {
  &:before {
    content: $vi-xbox; 
  }
}
.vi-youtube {
  &:before {
    content: $vi-youtube; 
  }
}
.vi-zendesk {
  &:before {
    content: $vi-zendesk; 
  }
}
.vi-zoom-in {
  &:before {
    content: $vi-zoom-in; 
  }
}
.vi-zoom-in-2 {
  &:before {
    content: $vi-zoom-in-2; 
  }
}
.vi-zoom-out {
  &:before {
    content: $vi-zoom-out; 
  }
}
.vi-zoom-out-2 {
  &:before {
    content: $vi-zoom-out-2; 
  }
}

