@font-face {
  font-family: 'vi';
  src:
    url('fonts/vi.ttf?wuom4n') format('truetype'),
    url('fonts/vi.woff?wuom4n') format('woff'),
    url('fonts/vi.svg?wuom4n#vi') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-folder-warning:before {
  content: "\eab0";
}
.vi-folder-video:before {
  content: "\eaaf";
}
.vi-folder-upload:before {
  content: "\eaae";
}
.vi-folder-text:before {
  content: "\eaad";
}
.vi-folder-sync:before {
  content: "\eaac";
}
.vi-folder-star:before {
  content: "\eaab";
}
.vi-folder-share:before {
  content: "\eaaa";
}
.vi-folder-search:before {
  content: "\eaa9";
}
.vi-folder-open:before {
  content: "\eaa8";
}
.vi-folder-new:before {
  content: "\eaa7";
}
.vi-folder-locked:before {
  content: "\eaa6";
}
.vi-folder-linked:before {
  content: "\eaa5";
}
.vi-folder-info:before {
  content: "\eaa4";
}
.vi-folder-import:before {
  content: "\eaa3";
}
.vi-folder-image:before {
  content: "\eaa2";
}
.vi-folder-file:before {
  content: "\eaa1";
}
.vi-folder-export:before {
  content: "\eaa0";
}
.vi-folder-exchange:before {
  content: "\ea9f";
}
.vi-folder-download:before {
  content: "\ea9e";
}
.vi-folder-delete:before {
  content: "\ea9d";
}
.vi-folder-copy:before {
  content: "\ea9c";
}
.vi-folder-code:before {
  content: "\ea9b";
}
.vi-folder-check:before {
  content: "\ea9a";
}
.vi-folder-bookmark:before {
  content: "\ea99";
}
.vi-folder-backup:before {
  content: "\ea98";
}
.vi-folder-audio:before {
  content: "\ea97";
}
.vi-folder-archive:before {
  content: "\ea96";
}
.vi-folder:before {
  content: "\ea95";
}
.vi-add-tab:before {
  content: "\e949";
}
.vi-airplane-mode:before {
  content: "\e94a";
}
.vi-airplane-mode-off:before {
  content: "\e94b";
}
.vi-align-bottom:before {
  content: "\e94f";
}
.vi-align-left:before {
  content: "\e94c";
}
.vi-align-right:before {
  content: "\e94d";
}
.vi-align-top:before {
  content: "\e94e";
}
.vi-amazon:before {
  content: "\e90b";
}
.vi-android:before {
  content: "\e90a";
}
.vi-answer:before {
  content: "\ea11";
}
.vi-apple:before {
  content: "\e91a";
}
.vi-atom:before {
  content: "\e91c";
}
.vi-auction:before {
  content: "\e9b9";
}
.vi-back:before {
  content: "\e9e2";
}
.vi-back-2:before {
  content: "\e9e3";
}
.vi-back-3:before {
  content: "\e9e4";
}
.vi-back-4:before {
  content: "\e9e5";
}
.vi-back-4-circle:before {
  content: "\e9e6";
}
.vi-back-5:before {
  content: "\e9e8";
}
.vi-back-6:before {
  content: "\e9e9";
}
.vi-back-7:before {
  content: "\e9ea";
}
.vi-back-square-4:before {
  content: "\e9e7";
}
.vi-backward:before {
  content: "\e950";
}
.vi-backward-2:before {
  content: "\e9eb";
}
.vi-bag-remove:before {
  content: "\e9ba";
}
.vi-barcode-scan:before {
  content: "\e9bb";
}
.vi-basket:before {
  content: "\e9bc";
}
.vi-basket-add:before {
  content: "\e9bd";
}
.vi-basket-checked:before {
  content: "\e9be";
}
.vi-basket-close:before {
  content: "\e9bf";
}
.vi-basket-in:before {
  content: "\e9c1";
}
.vi-basket-out:before {
  content: "\e9c0";
}
.vi-basket-remove:before {
  content: "\e9c2";
}
.vi-behance:before {
  content: "\e91e";
}
.vi-bitcoin:before {
  content: "\e92b";
}
.vi-block-circle:before {
  content: "\e93c";
}
.vi-bootstrap:before {
  content: "\e91f";
}
.vi-brightness-high:before {
  content: "\e951";
}
.vi-brightness-low:before {
  content: "\e952";
}
.vi-call:before {
  content: "\ea12";
}
.vi-call-back:before {
  content: "\ea13";
}
.vi-call-block:before {
  content: "\ea14";
}
.vi-call-end:before {
  content: "\ea15";
}
.vi-call-hold:before {
  content: "\ea16";
}
.vi-call-in:before {
  content: "\ea17";
}
.vi-call-logs:before {
  content: "\ea18";
}
.vi-call-off:before {
  content: "\ea19";
}
.vi-call-out:before {
  content: "\ea1a";
}
.vi-cart:before {
  content: "\e9c3";
}
.vi-cart-add:before {
  content: "\e9c4";
}
.vi-cart-cancel:before {
  content: "\e9c5";
}
.vi-cart-checked:before {
  content: "\e9c6";
}
.vi-cart-in:before {
  content: "\e9c7";
}
.vi-cart-loaded:before {
  content: "\e9c8";
}
.vi-cart-out:before {
  content: "\e9c9";
}
.vi-cart-remove:before {
  content: "\e9ca";
}
.vi-chat:before {
  content: "\ea1b";
}
.vi-chat-2:before {
  content: "\ea1c";
}
.vi-chat-3:before {
  content: "\ea1d";
}
.vi-check:before {
  content: "\e935";
}
.vi-check-all:before {
  content: "\e936";
}
.vi-check-circle:before {
  content: "\e93b";
}
.vi-check-circle-alt:before {
  content: "\e947";
}
.vi-check-square:before {
  content: "\e943";
}
.vi-check-square-alt:before {
  content: "\e948";
}
.vi-circle-down:before {
  content: "\e9ec";
}
.vi-circle-down-2:before {
  content: "\e9ed";
}
.vi-circle-down-3:before {
  content: "\e9ee";
}
.vi-circle-left:before {
  content: "\e9ef";
}
.vi-circle-left-2:before {
  content: "\e9f0";
}
.vi-circle-left-3:before {
  content: "\e9f1";
}
.vi-circle-right:before {
  content: "\e9f2";
}
.vi-circle-right-2:before {
  content: "\e9f3";
}
.vi-circle-right-3:before {
  content: "\e9f4";
}
.vi-circle-up:before {
  content: "\e9f5";
}
.vi-circle-up-2:before {
  content: "\e9f6";
}
.vi-circle-up-3:before {
  content: "\e9f7";
}
.vi-close:before {
  content: "\e937";
}
.vi-close-circle:before {
  content: "\e938";
}
.vi-close-square:before {
  content: "\e944";
}
.vi-close-square-full:before {
  content: "\e945";
}
.vi-comment:before {
  content: "\ea1e";
}
.vi-comment-2:before {
  content: "\ea1f";
}
.vi-comment-2-hashtag:before {
  content: "\ea20";
}
.vi-comment-2-quote:before {
  content: "\ea21";
}
.vi-comment-2-smile:before {
  content: "\ea22";
}
.vi-comment-2-write:before {
  content: "\ea23";
}
.vi-comment-3:before {
  content: "\ea24";
}
.vi-comment-3-write:before {
  content: "\ea25";
}
.vi-comment-like:before {
  content: "\ea26";
}
.vi-comments:before {
  content: "\ea27";
}
.vi-comments-2:before {
  content: "\ea28";
}
.vi-comments-3:before {
  content: "\ea29";
}
.vi-config:before {
  content: "\e953";
}
.vi-config-alt:before {
  content: "\e954";
}
.vi-dash:before {
  content: "\e92d";
}
.vi-delivery:before {
  content: "\e9cb";
}
.vi-delivery-2:before {
  content: "\e9cc";
}
.vi-delivery-box:before {
  content: "\e9cd";
}
.vi-delivery-box-2:before {
  content: "\e9ce";
}
.vi-discount-circle:before {
  content: "\e9cf";
}
.vi-discount-star:before {
  content: "\e9d0";
}
.vi-door-lock:before {
  content: "\e955";
}
.vi-double-arrows-left:before {
  content: "\e9f8";
}
.vi-double-arrows-right:before {
  content: "\e9f9";
}
.vi-down:before {
  content: "\e9fa";
}
.vi-down-2:before {
  content: "\e9fb";
}
.vi-down-3:before {
  content: "\e9fc";
}
.vi-download:before {
  content: "\e956";
}
.vi-download-alt:before {
  content: "\e957";
}
.vi-dribbble:before {
  content: "\e900";
}
.vi-dropbox:before {
  content: "\e901";
}
.vi-ebay:before {
  content: "\e90f";
}
.vi-edit-circle:before {
  content: "\e959";
}
.vi-edit-square:before {
  content: "\e958";
}
.vi-email:before {
  content: "\ea2a";
}
.vi-email-2-at:before {
  content: "\ea2b";
}
.vi-email-2-letter:before {
  content: "\ea2c";
}
.vi-email-2-open:before {
  content: "\ea2d";
}
.vi-email-2-search:before {
  content: "\ea2e";
}
.vi-email-at:before {
  content: "\ea2f";
}
.vi-email-ban:before {
  content: "\ea30";
}
.vi-email-check:before {
  content: "\ea31";
}
.vi-email-close:before {
  content: "\ea32";
}
.vi-email-delete:before {
  content: "\ea33";
}
.vi-email-edit:before {
  content: "\ea34";
}
.vi-email-forward:before {
  content: "\ea35";
}
.vi-email-in:before {
  content: "\ea36";
}
.vi-email-letter:before {
  content: "\ea37";
}
.vi-email-locked:before {
  content: "\ea38";
}
.vi-email-new:before {
  content: "\ea39";
}
.vi-email-open:before {
  content: "\ea3a";
}
.vi-email-out:before {
  content: "\ea3b";
}
.vi-email-refresh:before {
  content: "\ea3c";
}
.vi-email-reply:before {
  content: "\ea3d";
}
.vi-email-search:before {
  content: "\ea3e";
}
.vi-email-send:before {
  content: "\ea3f";
}
.vi-email-star:before {
  content: "\ea40";
}
.vi-ethereum:before {
  content: "\e92c";
}
.vi-expand:before {
  content: "\e95a";
}
.vi-expand-2:before {
  content: "\e95b";
}
.vi-expand-3:before {
  content: "\e95c";
}
.vi-expand-4:before {
  content: "\e95d";
}
.vi-expand-horizontal:before {
  content: "\e95e";
}
.vi-expand-vertical:before {
  content: "\e95f";
}
.vi-eye:before {
  content: "\e960";
}
.vi-eye-off:before {
  content: "\e961";
}
.vi-facebook:before {
  content: "\e902";
}
.vi-file:before {
  content: "\ea71";
}
.vi-file-archive:before {
  content: "\ea72";
}
.vi-file-audio:before {
  content: "\ea73";
}
.vi-file-backup:before {
  content: "\ea74";
}
.vi-file-bookmark:before {
  content: "\ea75";
}
.vi-file-clip:before {
  content: "\ea76";
}
.vi-file-code:before {
  content: "\ea77";
}
.vi-file-copy:before {
  content: "\ea78";
}
.vi-file-corrupted:before {
  content: "\ea79";
}
.vi-file-delete:before {
  content: "\ea7a";
}
.vi-file-download:before {
  content: "\ea7b";
}
.vi-file-edit:before {
  content: "\ea7c";
}
.vi-file-error:before {
  content: "\ea7d";
}
.vi-file-exchange:before {
  content: "\ea7e";
}
.vi-file-export:before {
  content: "\ea7f";
}
.vi-file-image:before {
  content: "\ea80";
}
.vi-file-import:before {
  content: "\ea81";
}
.vi-file-info:before {
  content: "\ea82";
}
.vi-file-linked:before {
  content: "\ea83";
}
.vi-file-load:before {
  content: "\ea84";
}
.vi-file-locked:before {
  content: "\ea85";
}
.vi-file-new:before {
  content: "\ea86";
}
.vi-file-remove:before {
  content: "\ea87";
}
.vi-file-search:before {
  content: "\ea8a";
}
.vi-file-settings:before {
  content: "\ea8b";
}
.vi-file-share:before {
  content: "\ea8c";
}
.vi-file-star:before {
  content: "\ea8d";
}
.vi-file-sync:before {
  content: "\ea8e";
}
.vi-file-table:before {
  content: "\ea8f";
}
.vi-file-text:before {
  content: "\ea90";
}
.vi-file-upload:before {
  content: "\ea91";
}
.vi-file-vector:before {
  content: "\ea92";
}
.vi-file-video:before {
  content: "\ea93";
}
.vi-file-warning:before {
  content: "\ea94";
}
.vi-files:before {
  content: "\ea88";
}
.vi-files-2:before {
  content: "\ea89";
}
.vi-flash:before {
  content: "\e962";
}
.vi-flash-2:before {
  content: "\e963";
}
.vi-flash-3:before {
  content: "\e964";
}
.vi-flip-horizontal:before {
  content: "\e965";
}
.vi-flip-vertical:before {
  content: "\e966";
}
.vi-fork-arrows:before {
  content: "\e9fd";
}
.vi-forward:before {
  content: "\e967";
}
.vi-forward-2:before {
  content: "\e9fe";
}
.vi-git:before {
  content: "\e90e";
}
.vi-github:before {
  content: "\e90c";
}
.vi-google:before {
  content: "\e913";
}
.vi-google+:before {
  content: "\e914";
}
.vi-google-play:before {
  content: "\e923";
}
.vi-grid-circles:before {
  content: "\e968";
}
.vi-grid-squares:before {
  content: "\e969";
}
.vi-grid-squares-2:before {
  content: "\e96a";
}
.vi-hamburger-menu:before {
  content: "\e96b";
}
.vi-hamburger-menu-compact:before {
  content: "\e96c";
}
.vi-handbag:before {
  content: "\e9d1";
}
.vi-help:before {
  content: "\e96d";
}
.vi-help-2:before {
  content: "\e96e";
}
.vi-home:before {
  content: "\e96f";
}
.vi-inbox:before {
  content: "\ea41";
}
.vi-inbox-empty:before {
  content: "\ea42";
}
.vi-inbox-full:before {
  content: "\ea43";
}
.vi-info-circle:before {
  content: "\e93f";
}
.vi-inside:before {
  content: "\e970";
}
.vi-instagram:before {
  content: "\e903";
}
.vi-key:before {
  content: "\e971";
}
.vi-key-2:before {
  content: "\e972";
}
.vi-kickstarter:before {
  content: "\e917";
}
.vi-label:before {
  content: "\e973";
}
.vi-label-cancel:before {
  content: "\e974";
}
.vi-layout:before {
  content: "\e975";
}
.vi-layout-2:before {
  content: "\e976";
}
.vi-layout-3:before {
  content: "\e977";
}
.vi-left:before {
  content: "\e9ff";
}
.vi-left-2:before {
  content: "\ea00";
}
.vi-left-3:before {
  content: "\ea01";
}
.vi-letter:before {
  content: "\ea44";
}
.vi-letters:before {
  content: "\ea45";
}
.vi-linkedin:before {
  content: "\e924";
}
.vi-list:before {
  content: "\e978";
}
.vi-list-2:before {
  content: "\e979";
}
.vi-list-3:before {
  content: "\e97a";
}
.vi-list-4:before {
  content: "\e97b";
}
.vi-list-heart:before {
  content: "\e9d2";
}
.vi-litecoin:before {
  content: "\e92e";
}
.vi-lock:before {
  content: "\e97c";
}
.vi-loop:before {
  content: "\e97e";
}
.vi-magic-wand:before {
  content: "\e97f";
}
.vi-magic-wand-2:before {
  content: "\e980";
}
.vi-magnetic:before {
  content: "\e981";
}
.vi-magnifier:before {
  content: "\e982";
}
.vi-magnifier-2:before {
  content: "\e983";
}
.vi-mailchimp:before {
  content: "\e927";
}
.vi-maximize-left:before {
  content: "\e984";
}
.vi-maximize-right:before {
  content: "\e985";
}
.vi-medium:before {
  content: "\e904";
}
.vi-megaphone:before {
  content: "\ea46";
}
.vi-megaphone-2:before {
  content: "\ea47";
}
.vi-menu-circle-grid:before {
  content: "\e986";
}
.vi-message:before {
  content: "\ea48";
}
.vi-message-2:before {
  content: "\ea49";
}
.vi-message-2-alert:before {
  content: "\ea4a";
}
.vi-message-2-ask:before {
  content: "\ea4b";
}
.vi-message-2-heart:before {
  content: "\ea4c";
}
.vi-message-2-like:before {
  content: "\ea4d";
}
.vi-message-2-pause:before {
  content: "\ea4f";
}
.vi-message-2-tone:before {
  content: "\ea4e";
}
.vi-message-2-write:before {
  content: "\ea50";
}
.vi-message-3:before {
  content: "\ea51";
}
.vi-message-3-alert:before {
  content: "\ea52";
}
.vi-message-3-ask:before {
  content: "\ea53";
}
.vi-message-3-hashtag:before {
  content: "\ea54";
}
.vi-message-3-heart:before {
  content: "\ea55";
}
.vi-message-3-like:before {
  content: "\ea56";
}
.vi-message-3-music-tone:before {
  content: "\ea57";
}
.vi-message-3-pause:before {
  content: "\ea58";
}
.vi-message-3-quote:before {
  content: "\ea59";
}
.vi-message-3-smile:before {
  content: "\ea5a";
}
.vi-message-3-write:before {
  content: "\ea5b";
}
.vi-message-alert:before {
  content: "\ea5c";
}
.vi-message-ask:before {
  content: "\ea5d";
}
.vi-message-hashtag:before {
  content: "\ea5e";
}
.vi-message-heart:before {
  content: "\ea5f";
}
.vi-message-music-tone:before {
  content: "\ea60";
}
.vi-message-pause:before {
  content: "\ea61";
}
.vi-message-quote:before {
  content: "\ea62";
}
.vi-message-smile:before {
  content: "\ea63";
}
.vi-message-write:before {
  content: "\ea64";
}
.vi-microsoft:before {
  content: "\e91b";
}
.vi-minus-circle:before {
  content: "\e93a";
}
.vi-minus-square:before {
  content: "\e942";
}
.vi-monero:before {
  content: "\e931";
}
.vi-more-circle:before {
  content: "\e987";
}
.vi-more-circle-horizontal:before {
  content: "\e988";
}
.vi-more-circle-horizontal-filled:before {
  content: "\e98e";
}
.vi-more-circle-vertical:before {
  content: "\e989";
}
.vi-more-circle-vertical-filled:before {
  content: "\e98d";
}
.vi-more-square-horizontal:before {
  content: "\e98b";
}
.vi-more-square-horizontal-filled:before {
  content: "\e98f";
}
.vi-more-square-vertical:before {
  content: "\e98a";
}
.vi-more-square-vertical-filled:before {
  content: "\e98c";
}
.vi-nem:before {
  content: "\e930";
}
.vi-next:before {
  content: "\ea02";
}
.vi-next-2:before {
  content: "\ea03";
}
.vi-next-3:before {
  content: "\ea04";
}
.vi-next-4:before {
  content: "\ea05";
}
.vi-next-5:before {
  content: "\ea06";
}
.vi-next-6:before {
  content: "\ea07";
}
.vi-next-7:before {
  content: "\ea08";
}
.vi-notification:before {
  content: "\e990";
}
.vi-notification-add:before {
  content: "\e991";
}
.vi-notification-off:before {
  content: "\e992";
}
.vi-notification-paused:before {
  content: "\e993";
}
.vi-open-sign:before {
  content: "\e9d3";
}
.vi-outbox:before {
  content: "\ea65";
}
.vi-outside:before {
  content: "\e994";
}
.vi-paper-clip:before {
  content: "\e995";
}
.vi-paper-plane:before {
  content: "\e996";
}
.vi-paper-plane-2:before {
  content: "\ea66";
}
.vi-pass:before {
  content: "\e997";
}
.vi-paypal:before {
  content: "\e905";
}
.vi-phone-call-in:before {
  content: "\ea67";
}
.vi-phone-call-out:before {
  content: "\ea68";
}
.vi-phone-contacts:before {
  content: "\ea69";
}
.vi-phone-message:before {
  content: "\ea6a";
}
.vi-phone-message-2:before {
  content: "\ea6b";
}
.vi-phone-message-3:before {
  content: "\ea6c";
}
.vi-phone-ring:before {
  content: "\ea6d";
}
.vi-phone-vibration:before {
  content: "\e998";
}
.vi-pin:before {
  content: "\e999";
}
.vi-pin-2:before {
  content: "\e99a";
}
.vi-pin-3:before {
  content: "\e99b";
}
.vi-pinterest:before {
  content: "\e90d";
}
.vi-playstation:before {
  content: "\e921";
}
.vi-plus:before {
  content: "\e934";
}
.vi-plus-circle:before {
  content: "\e939";
}
.vi-plus-square:before {
  content: "\e941";
}
.vi-power:before {
  content: "\e946";
}
.vi-price-tag:before {
  content: "\e9d4";
}
.vi-q-and-a:before {
  content: "\ea6e";
}
.vi-qr-code:before {
  content: "\e9da";
}
.vi-question-circle:before {
  content: "\e940";
}
.vi-react:before {
  content: "\e929";
}
.vi-reddit:before {
  content: "\e910";
}
.vi-refresh:before {
  content: "\e99c";
}
.vi-refresh-2:before {
  content: "\e99d";
}
.vi-refresh-warning:before {
  content: "\e99e";
}
.vi-reload:before {
  content: "\e99f";
}
.vi-reload-checked:before {
  content: "\e9a0";
}
.vi-remove-tab:before {
  content: "\e9a1";
}
.vi-right:before {
  content: "\ea09";
}
.vi-right-2:before {
  content: "\ea0a";
}
.vi-right-3:before {
  content: "\ea0b";
}
.vi-ripple:before {
  content: "\e92f";
}
.vi-s-arrow:before {
  content: "\ea0c";
}
.vi-s-arrow-2:before {
  content: "\ea0d";
}
.vi-scroll:before {
  content: "\e9a2";
}
.vi-search-history:before {
  content: "\e9a3";
}
.vi-settings:before {
  content: "\e9a4";
}
.vi-share:before {
  content: "\e9a5";
}
.vi-share-2:before {
  content: "\e9a6";
}
.vi-share-3:before {
  content: "\e9a7";
}
.vi-share-4:before {
  content: "\e9a8";
}
.vi-shopping-tag:before {
  content: "\e9d5";
}
.vi-shopping-tags:before {
  content: "\e9d6";
}
.vi-skype:before {
  content: "\e925";
}
.vi-slack:before {
  content: "\e918";
}
.vi-snapchat:before {
  content: "\e911";
}
.vi-spotify:before {
  content: "\e916";
}
.vi-steam:before {
  content: "\e91d";
}
.vi-stripe:before {
  content: "\e922";
}
.vi-swap-horizontal:before {
  content: "\e9a9";
}
.vi-swap-vertical:before {
  content: "\e9aa";
}
.vi-switch-off:before {
  content: "\e9ad";
}
.vi-switch-on:before {
  content: "\e9ae";
}
.vi-switches:before {
  content: "\e9ab";
}
.vi-switches-2:before {
  content: "\e9ac";
}
.vi-tabs:before {
  content: "\e9af";
}
.vi-tabs-2:before {
  content: "\e9b0";
}
.vi-telephone:before {
  content: "\ea6f";
}
.vi-tesla:before {
  content: "\e933";
}
.vi-tether:before {
  content: "\e932";
}
.vi-ticket:before {
  content: "\e9d7";
}
.vi-trash:before {
  content: "\e9b1";
}
.vi-trash-recycle:before {
  content: "\e9b2";
}
.vi-tripadvisor:before {
  content: "\e912";
}
.vi-twitch:before {
  content: "\e920";
}
.vi-twitter:before {
  content: "\e906";
}
.vi-unlock:before {
  content: "\e97d";
}
.vi-up:before {
  content: "\ea0e";
}
.vi-up-2:before {
  content: "\ea0f";
}
.vi-up-3:before {
  content: "\ea10";
}
.vi-upload:before {
  content: "\e9b3";
}
.vi-upload-2:before {
  content: "\e9b4";
}
.vi-vimeo:before {
  content: "\e926";
}
.vi-visualmodo:before {
  content: "\e907";
}
.vi-voicemail:before {
  content: "\ea70";
}
.vi-wallet:before {
  content: "\e9d8";
}
.vi-wallet-2:before {
  content: "\e9d9";
}
.vi-wallet-add:before {
  content: "\e9db";
}
.vi-wallet-ban:before {
  content: "\e9dc";
}
.vi-wallet-cancel:before {
  content: "\e9dd";
}
.vi-wallet-info:before {
  content: "\e9de";
}
.vi-wallet-loaded:before {
  content: "\e9df";
}
.vi-wallet-locked:before {
  content: "\e9e0";
}
.vi-wallet-verified:before {
  content: "\e9e1";
}
.vi-warning-circle:before {
  content: "\e93d";
}
.vi-warning-triangle:before {
  content: "\e93e";
}
.vi-whatsapp:before {
  content: "\e915";
}
.vi-wikipedia:before {
  content: "\e919";
}
.vi-wordpress:before {
  content: "\e908";
}
.vi-xbox:before {
  content: "\e92a";
}
.vi-youtube:before {
  content: "\e909";
}
.vi-zendesk:before {
  content: "\e928";
}
.vi-zoom-in:before {
  content: "\e9b5";
}
.vi-zoom-in-2:before {
  content: "\e9b6";
}
.vi-zoom-out:before {
  content: "\e9b7";
}
.vi-zoom-out-2:before {
  content: "\e9b8";
}
