@font-face {
  font-family: 'vi';
  src:
    url('fonts/vi.ttf?i9kc2p') format('truetype'),
    url('fonts/vi.woff?i9kc2p') format('woff'),
    url('fonts/vi.svg?i9kc2p#vi') format('svg');
  font-weight: normal;
  font-style: normal;
}

i, .icomoon-liga {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vi-amazon:before {
  content: "\e90b";
}
.vi-android:before {
  content: "\e90a";
}
.vi-apple:before {
  content: "\e91a";
}
.vi-atom:before {
  content: "\e91c";
}
.vi-behance:before {
  content: "\e91e";
}
.vi-bitcoin:before {
  content: "\e92b";
}
.vi-block-circle:before {
  content: "\e93c";
}
.vi-bootstrap:before {
  content: "\e91f";
}
.vi-check:before {
  content: "\e935";
}
.vi-check-all:before {
  content: "\e936";
}
.vi-check-circle:before {
  content: "\e93b";
}
.vi-close:before {
  content: "\e937";
}
.vi-close-circle:before {
  content: "\e938";
}
.vi-dash:before {
  content: "\e92d";
}
.vi-dribbble:before {
  content: "\e900";
}
.vi-dropbox:before {
  content: "\e901";
}
.vi-ebay:before {
  content: "\e90f";
}
.vi-ethereum:before {
  content: "\e92c";
}
.vi-exclamation-circle:before {
  content: "\e940";
}
.vi-facebook:before {
  content: "\e902";
}
.vi-git:before {
  content: "\e90e";
}
.vi-github:before {
  content: "\e90c";
}
.vi-google:before {
  content: "\e913";
}
.vi-google+:before {
  content: "\e914";
}
.vi-google-play:before {
  content: "\e923";
}
.vi-info-circle:before {
  content: "\e93f";
}
.vi-instagram:before {
  content: "\e903";
}
.vi-kickstarter:before {
  content: "\e917";
}
.vi-linkedin:before {
  content: "\e924";
}
.vi-litecoin:before {
  content: "\e92e";
}
.vi-mailchimp:before {
  content: "\e927";
}
.vi-medium:before {
  content: "\e904";
}
.vi-microsoft:before {
  content: "\e91b";
}
.vi-minus-circle:before {
  content: "\e93a";
}
.vi-minus-square:before {
  content: "\e942";
}
.vi-monero:before {
  content: "\e931";
}
.vi-nem:before {
  content: "\e930";
}
.vi-paypal:before {
  content: "\e905";
}
.vi-pinterest:before {
  content: "\e90d";
}
.vi-playstation:before {
  content: "\e921";
}
.vi-plus:before {
  content: "\e934";
}
.vi-plus-circle:before {
  content: "\e939";
}
.vi-plus-square:before {
  content: "\e941";
}
.vi-react:before {
  content: "\e929";
}
.vi-reddit:before {
  content: "\e910";
}
.vi-ripple:before {
  content: "\e92f";
}
.vi-skype:before {
  content: "\e925";
}
.vi-slack:before {
  content: "\e918";
}
.vi-snapchat:before {
  content: "\e911";
}
.vi-spotify:before {
  content: "\e916";
}
.vi-steam:before {
  content: "\e91d";
}
.vi-stripe:before {
  content: "\e922";
}
.vi-tesla:before {
  content: "\e933";
}
.vi-tether:before {
  content: "\e932";
}
.vi-tripadvisor:before {
  content: "\e912";
}
.vi-twitch:before {
  content: "\e920";
}
.vi-twitter:before {
  content: "\e906";
}
.vi-vimeo:before {
  content: "\e926";
}
.vi-visualmodo:before {
  content: "\e907";
}
.vi-warning-circle:before {
  content: "\e93d";
}
.vi-warning-triangle:before {
  content: "\e93e";
}
.vi-whatsapp:before {
  content: "\e915";
}
.vi-wikipedia:before {
  content: "\e919";
}
.vi-wordpress:before {
  content: "\e908";
}
.vi-xbox:before {
  content: "\e92a";
}
.vi-youtube:before {
  content: "\e909";
}
.vi-zendesk:before {
  content: "\e928";
}
