$icomoon-font-family: "vi" !default;
$icomoon-font-path: "fonts" !default;

$vi-folder-warning: "\eab0";
$vi-folder-video: "\eaaf";
$vi-folder-upload: "\eaae";
$vi-folder-text: "\eaad";
$vi-folder-sync: "\eaac";
$vi-folder-star: "\eaab";
$vi-folder-share: "\eaaa";
$vi-folder-search: "\eaa9";
$vi-folder-open: "\eaa8";
$vi-folder-new: "\eaa7";
$vi-folder-locked: "\eaa6";
$vi-folder-linked: "\eaa5";
$vi-folder-info: "\eaa4";
$vi-folder-import: "\eaa3";
$vi-folder-image: "\eaa2";
$vi-folder-file: "\eaa1";
$vi-folder-export: "\eaa0";
$vi-folder-exchange: "\ea9f";
$vi-folder-download: "\ea9e";
$vi-folder-delete: "\ea9d";
$vi-folder-copy: "\ea9c";
$vi-folder-code: "\ea9b";
$vi-folder-check: "\ea9a";
$vi-folder-bookmark: "\ea99";
$vi-folder-backup: "\ea98";
$vi-folder-audio: "\ea97";
$vi-folder-archive: "\ea96";
$vi-folder: "\ea95";
$vi-add-tab: "\e949";
$vi-airplane-mode: "\e94a";
$vi-airplane-mode-off: "\e94b";
$vi-align-bottom: "\e94f";
$vi-align-left: "\e94c";
$vi-align-right: "\e94d";
$vi-align-top: "\e94e";
$vi-amazon: "\e90b";
$vi-android: "\e90a";
$vi-answer: "\ea11";
$vi-apple: "\e91a";
$vi-atom: "\e91c";
$vi-auction: "\e9b9";
$vi-back: "\e9e2";
$vi-back-2: "\e9e3";
$vi-back-3: "\e9e4";
$vi-back-4: "\e9e5";
$vi-back-4-circle: "\e9e6";
$vi-back-5: "\e9e8";
$vi-back-6: "\e9e9";
$vi-back-7: "\e9ea";
$vi-back-square-4: "\e9e7";
$vi-backward: "\e950";
$vi-backward-2: "\e9eb";
$vi-bag-remove: "\e9ba";
$vi-barcode-scan: "\e9bb";
$vi-basket: "\e9bc";
$vi-basket-add: "\e9bd";
$vi-basket-checked: "\e9be";
$vi-basket-close: "\e9bf";
$vi-basket-in: "\e9c1";
$vi-basket-out: "\e9c0";
$vi-basket-remove: "\e9c2";
$vi-behance: "\e91e";
$vi-bitcoin: "\e92b";
$vi-block-circle: "\e93c";
$vi-bootstrap: "\e91f";
$vi-brightness-high: "\e951";
$vi-brightness-low: "\e952";
$vi-call: "\ea12";
$vi-call-back: "\ea13";
$vi-call-block: "\ea14";
$vi-call-end: "\ea15";
$vi-call-hold: "\ea16";
$vi-call-in: "\ea17";
$vi-call-logs: "\ea18";
$vi-call-off: "\ea19";
$vi-call-out: "\ea1a";
$vi-cart: "\e9c3";
$vi-cart-add: "\e9c4";
$vi-cart-cancel: "\e9c5";
$vi-cart-checked: "\e9c6";
$vi-cart-in: "\e9c7";
$vi-cart-loaded: "\e9c8";
$vi-cart-out: "\e9c9";
$vi-cart-remove: "\e9ca";
$vi-chat: "\ea1b";
$vi-chat-2: "\ea1c";
$vi-chat-3: "\ea1d";
$vi-check: "\e935";
$vi-check-all: "\e936";
$vi-check-circle: "\e93b";
$vi-check-circle-alt: "\e947";
$vi-check-square: "\e943";
$vi-check-square-alt: "\e948";
$vi-circle-down: "\e9ec";
$vi-circle-down-2: "\e9ed";
$vi-circle-down-3: "\e9ee";
$vi-circle-left: "\e9ef";
$vi-circle-left-2: "\e9f0";
$vi-circle-left-3: "\e9f1";
$vi-circle-right: "\e9f2";
$vi-circle-right-2: "\e9f3";
$vi-circle-right-3: "\e9f4";
$vi-circle-up: "\e9f5";
$vi-circle-up-2: "\e9f6";
$vi-circle-up-3: "\e9f7";
$vi-close: "\e937";
$vi-close-circle: "\e938";
$vi-close-square: "\e944";
$vi-close-square-full: "\e945";
$vi-comment: "\ea1e";
$vi-comment-2: "\ea1f";
$vi-comment-2-hashtag: "\ea20";
$vi-comment-2-quote: "\ea21";
$vi-comment-2-smile: "\ea22";
$vi-comment-2-write: "\ea23";
$vi-comment-3: "\ea24";
$vi-comment-3-write: "\ea25";
$vi-comment-like: "\ea26";
$vi-comments: "\ea27";
$vi-comments-2: "\ea28";
$vi-comments-3: "\ea29";
$vi-config: "\e953";
$vi-config-alt: "\e954";
$vi-dash: "\e92d";
$vi-delivery: "\e9cb";
$vi-delivery-2: "\e9cc";
$vi-delivery-box: "\e9cd";
$vi-delivery-box-2: "\e9ce";
$vi-discount-circle: "\e9cf";
$vi-discount-star: "\e9d0";
$vi-door-lock: "\e955";
$vi-double-arrows-left: "\e9f8";
$vi-double-arrows-right: "\e9f9";
$vi-down: "\e9fa";
$vi-down-2: "\e9fb";
$vi-down-3: "\e9fc";
$vi-download: "\e956";
$vi-download-alt: "\e957";
$vi-dribbble: "\e900";
$vi-dropbox: "\e901";
$vi-ebay: "\e90f";
$vi-edit-circle: "\e959";
$vi-edit-square: "\e958";
$vi-email: "\ea2a";
$vi-email-2-at: "\ea2b";
$vi-email-2-letter: "\ea2c";
$vi-email-2-open: "\ea2d";
$vi-email-2-search: "\ea2e";
$vi-email-at: "\ea2f";
$vi-email-ban: "\ea30";
$vi-email-check: "\ea31";
$vi-email-close: "\ea32";
$vi-email-delete: "\ea33";
$vi-email-edit: "\ea34";
$vi-email-forward: "\ea35";
$vi-email-in: "\ea36";
$vi-email-letter: "\ea37";
$vi-email-locked: "\ea38";
$vi-email-new: "\ea39";
$vi-email-open: "\ea3a";
$vi-email-out: "\ea3b";
$vi-email-refresh: "\ea3c";
$vi-email-reply: "\ea3d";
$vi-email-search: "\ea3e";
$vi-email-send: "\ea3f";
$vi-email-star: "\ea40";
$vi-ethereum: "\e92c";
$vi-expand: "\e95a";
$vi-expand-2: "\e95b";
$vi-expand-3: "\e95c";
$vi-expand-4: "\e95d";
$vi-expand-horizontal: "\e95e";
$vi-expand-vertical: "\e95f";
$vi-eye: "\e960";
$vi-eye-off: "\e961";
$vi-facebook: "\e902";
$vi-file: "\ea71";
$vi-file-archive: "\ea72";
$vi-file-audio: "\ea73";
$vi-file-backup: "\ea74";
$vi-file-bookmark: "\ea75";
$vi-file-clip: "\ea76";
$vi-file-code: "\ea77";
$vi-file-copy: "\ea78";
$vi-file-corrupted: "\ea79";
$vi-file-delete: "\ea7a";
$vi-file-download: "\ea7b";
$vi-file-edit: "\ea7c";
$vi-file-error: "\ea7d";
$vi-file-exchange: "\ea7e";
$vi-file-export: "\ea7f";
$vi-file-image: "\ea80";
$vi-file-import: "\ea81";
$vi-file-info: "\ea82";
$vi-file-linked: "\ea83";
$vi-file-load: "\ea84";
$vi-file-locked: "\ea85";
$vi-file-new: "\ea86";
$vi-file-remove: "\ea87";
$vi-file-search: "\ea8a";
$vi-file-settings: "\ea8b";
$vi-file-share: "\ea8c";
$vi-file-star: "\ea8d";
$vi-file-sync: "\ea8e";
$vi-file-table: "\ea8f";
$vi-file-text: "\ea90";
$vi-file-upload: "\ea91";
$vi-file-vector: "\ea92";
$vi-file-video: "\ea93";
$vi-file-warning: "\ea94";
$vi-files: "\ea88";
$vi-files-2: "\ea89";
$vi-flash: "\e962";
$vi-flash-2: "\e963";
$vi-flash-3: "\e964";
$vi-flip-horizontal: "\e965";
$vi-flip-vertical: "\e966";
$vi-fork-arrows: "\e9fd";
$vi-forward: "\e967";
$vi-forward-2: "\e9fe";
$vi-git: "\e90e";
$vi-github: "\e90c";
$vi-google: "\e913";
$vi-google+: "\e914";
$vi-google-play: "\e923";
$vi-grid-circles: "\e968";
$vi-grid-squares: "\e969";
$vi-grid-squares-2: "\e96a";
$vi-hamburger-menu: "\e96b";
$vi-hamburger-menu-compact: "\e96c";
$vi-handbag: "\e9d1";
$vi-help: "\e96d";
$vi-help-2: "\e96e";
$vi-home: "\e96f";
$vi-inbox: "\ea41";
$vi-inbox-empty: "\ea42";
$vi-inbox-full: "\ea43";
$vi-info-circle: "\e93f";
$vi-inside: "\e970";
$vi-instagram: "\e903";
$vi-key: "\e971";
$vi-key-2: "\e972";
$vi-kickstarter: "\e917";
$vi-label: "\e973";
$vi-label-cancel: "\e974";
$vi-layout: "\e975";
$vi-layout-2: "\e976";
$vi-layout-3: "\e977";
$vi-left: "\e9ff";
$vi-left-2: "\ea00";
$vi-left-3: "\ea01";
$vi-letter: "\ea44";
$vi-letters: "\ea45";
$vi-linkedin: "\e924";
$vi-list: "\e978";
$vi-list-2: "\e979";
$vi-list-3: "\e97a";
$vi-list-4: "\e97b";
$vi-list-heart: "\e9d2";
$vi-litecoin: "\e92e";
$vi-lock: "\e97c";
$vi-loop: "\e97e";
$vi-magic-wand: "\e97f";
$vi-magic-wand-2: "\e980";
$vi-magnetic: "\e981";
$vi-magnifier: "\e982";
$vi-magnifier-2: "\e983";
$vi-mailchimp: "\e927";
$vi-maximize-left: "\e984";
$vi-maximize-right: "\e985";
$vi-medium: "\e904";
$vi-megaphone: "\ea46";
$vi-megaphone-2: "\ea47";
$vi-menu-circle-grid: "\e986";
$vi-message: "\ea48";
$vi-message-2: "\ea49";
$vi-message-2-alert: "\ea4a";
$vi-message-2-ask: "\ea4b";
$vi-message-2-heart: "\ea4c";
$vi-message-2-like: "\ea4d";
$vi-message-2-pause: "\ea4f";
$vi-message-2-tone: "\ea4e";
$vi-message-2-write: "\ea50";
$vi-message-3: "\ea51";
$vi-message-3-alert: "\ea52";
$vi-message-3-ask: "\ea53";
$vi-message-3-hashtag: "\ea54";
$vi-message-3-heart: "\ea55";
$vi-message-3-like: "\ea56";
$vi-message-3-music-tone: "\ea57";
$vi-message-3-pause: "\ea58";
$vi-message-3-quote: "\ea59";
$vi-message-3-smile: "\ea5a";
$vi-message-3-write: "\ea5b";
$vi-message-alert: "\ea5c";
$vi-message-ask: "\ea5d";
$vi-message-hashtag: "\ea5e";
$vi-message-heart: "\ea5f";
$vi-message-music-tone: "\ea60";
$vi-message-pause: "\ea61";
$vi-message-quote: "\ea62";
$vi-message-smile: "\ea63";
$vi-message-write: "\ea64";
$vi-microsoft: "\e91b";
$vi-minus-circle: "\e93a";
$vi-minus-square: "\e942";
$vi-monero: "\e931";
$vi-more-circle: "\e987";
$vi-more-circle-horizontal: "\e988";
$vi-more-circle-horizontal-filled: "\e98e";
$vi-more-circle-vertical: "\e989";
$vi-more-circle-vertical-filled: "\e98d";
$vi-more-square-horizontal: "\e98b";
$vi-more-square-horizontal-filled: "\e98f";
$vi-more-square-vertical: "\e98a";
$vi-more-square-vertical-filled: "\e98c";
$vi-nem: "\e930";
$vi-next: "\ea02";
$vi-next-2: "\ea03";
$vi-next-3: "\ea04";
$vi-next-4: "\ea05";
$vi-next-5: "\ea06";
$vi-next-6: "\ea07";
$vi-next-7: "\ea08";
$vi-notification: "\e990";
$vi-notification-add: "\e991";
$vi-notification-off: "\e992";
$vi-notification-paused: "\e993";
$vi-open-sign: "\e9d3";
$vi-outbox: "\ea65";
$vi-outside: "\e994";
$vi-paper-clip: "\e995";
$vi-paper-plane: "\e996";
$vi-paper-plane-2: "\ea66";
$vi-pass: "\e997";
$vi-paypal: "\e905";
$vi-phone-call-in: "\ea67";
$vi-phone-call-out: "\ea68";
$vi-phone-contacts: "\ea69";
$vi-phone-message: "\ea6a";
$vi-phone-message-2: "\ea6b";
$vi-phone-message-3: "\ea6c";
$vi-phone-ring: "\ea6d";
$vi-phone-vibration: "\e998";
$vi-pin: "\e999";
$vi-pin-2: "\e99a";
$vi-pin-3: "\e99b";
$vi-pinterest: "\e90d";
$vi-playstation: "\e921";
$vi-plus: "\e934";
$vi-plus-circle: "\e939";
$vi-plus-square: "\e941";
$vi-power: "\e946";
$vi-price-tag: "\e9d4";
$vi-q-and-a: "\ea6e";
$vi-qr-code: "\e9da";
$vi-question-circle: "\e940";
$vi-react: "\e929";
$vi-reddit: "\e910";
$vi-refresh: "\e99c";
$vi-refresh-2: "\e99d";
$vi-refresh-warning: "\e99e";
$vi-reload: "\e99f";
$vi-reload-checked: "\e9a0";
$vi-remove-tab: "\e9a1";
$vi-right: "\ea09";
$vi-right-2: "\ea0a";
$vi-right-3: "\ea0b";
$vi-ripple: "\e92f";
$vi-s-arrow: "\ea0c";
$vi-s-arrow-2: "\ea0d";
$vi-scroll: "\e9a2";
$vi-search-history: "\e9a3";
$vi-settings: "\e9a4";
$vi-share: "\e9a5";
$vi-share-2: "\e9a6";
$vi-share-3: "\e9a7";
$vi-share-4: "\e9a8";
$vi-shopping-tag: "\e9d5";
$vi-shopping-tags: "\e9d6";
$vi-skype: "\e925";
$vi-slack: "\e918";
$vi-snapchat: "\e911";
$vi-spotify: "\e916";
$vi-steam: "\e91d";
$vi-stripe: "\e922";
$vi-swap-horizontal: "\e9a9";
$vi-swap-vertical: "\e9aa";
$vi-switch-off: "\e9ad";
$vi-switch-on: "\e9ae";
$vi-switches: "\e9ab";
$vi-switches-2: "\e9ac";
$vi-tabs: "\e9af";
$vi-tabs-2: "\e9b0";
$vi-telephone: "\ea6f";
$vi-tesla: "\e933";
$vi-tether: "\e932";
$vi-ticket: "\e9d7";
$vi-trash: "\e9b1";
$vi-trash-recycle: "\e9b2";
$vi-tripadvisor: "\e912";
$vi-twitch: "\e920";
$vi-twitter: "\e906";
$vi-unlock: "\e97d";
$vi-up: "\ea0e";
$vi-up-2: "\ea0f";
$vi-up-3: "\ea10";
$vi-upload: "\e9b3";
$vi-upload-2: "\e9b4";
$vi-vimeo: "\e926";
$vi-visualmodo: "\e907";
$vi-voicemail: "\ea70";
$vi-wallet: "\e9d8";
$vi-wallet-2: "\e9d9";
$vi-wallet-add: "\e9db";
$vi-wallet-ban: "\e9dc";
$vi-wallet-cancel: "\e9dd";
$vi-wallet-info: "\e9de";
$vi-wallet-loaded: "\e9df";
$vi-wallet-locked: "\e9e0";
$vi-wallet-verified: "\e9e1";
$vi-warning-circle: "\e93d";
$vi-warning-triangle: "\e93e";
$vi-whatsapp: "\e915";
$vi-wikipedia: "\e919";
$vi-wordpress: "\e908";
$vi-xbox: "\e92a";
$vi-youtube: "\e909";
$vi-zendesk: "\e928";
$vi-zoom-in: "\e9b5";
$vi-zoom-in-2: "\e9b6";
$vi-zoom-out: "\e9b7";
$vi-zoom-out-2: "\e9b8";

