$icomoon-font-path: "fonts" !default;

$vi-google: "\e90a";
$vi-google+: "\e90b";
$vi-dribbble: "\e900";
$vi-dropbox: "\e901";
$vi-facebook: "\e902";
$vi-instagram: "\e903";
$vi-medium: "\e904";
$vi-paypal: "\e905";
$vi-twitter: "\e906";
$vi-visualmodo: "\e907";
$vi-wordpress: "\e908";
$vi-youtube: "\e909";

