$icomoon-font-path: "fonts" !default;

$vi-amazon: "\e90b";
$vi-android: "\e90a";
$vi-apple: "\e91a";
$vi-atom: "\e91c";
$vi-behance: "\e91e";
$vi-bitcoin: "\e92b";
$vi-bootstrap: "\e91f";
$vi-dash: "\e92d";
$vi-dribbble: "\e900";
$vi-dropbox: "\e901";
$vi-ebay: "\e90f";
$vi-ethereum: "\e92c";
$vi-facebook: "\e902";
$vi-git: "\e90e";
$vi-github: "\e90c";
$vi-google: "\e913";
$vi-google+: "\e914";
$vi-google-play: "\e923";
$vi-instagram: "\e903";
$vi-kickstarter: "\e917";
$vi-linkedin: "\e924";
$vi-litecoin: "\e92e";
$vi-mailchimp: "\e927";
$vi-medium: "\e904";
$vi-microsoft: "\e91b";
$vi-monero: "\e931";
$vi-nem: "\e930";
$vi-paypal: "\e905";
$vi-pinterest: "\e90d";
$vi-playstation: "\e921";
$vi-react: "\e929";
$vi-reddit: "\e910";
$vi-ripple: "\e92f";
$vi-skype: "\e925";
$vi-slack: "\e918";
$vi-snapchat: "\e911";
$vi-spotify: "\e916";
$vi-steam: "\e91d";
$vi-stripe: "\e922";
$vi-tesla: "\e933";
$vi-tether: "\e932";
$vi-tripadvisor: "\e912";
$vi-twitch: "\e920";
$vi-twitter: "\e906";
$vi-vimeo: "\e926";
$vi-visualmodo: "\e907";
$vi-whatsapp: "\e915";
$vi-wikipedia: "\e919";
$vi-wordpress: "\e908";
$vi-xbox: "\e92a";
$vi-youtube: "\e909";
$vi-zendesk: "\e928";

